__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

venv/
env/

instance/
*.log

.pytest_cache/
.cache/

.DS_Store
.idea/
.vscode/

*.tar

charts/*/charts/
charts/*/tmp/
charts/*/Chart.lock

manifests/

*.swp
*.swo